graph {
    padding: 60px;
}

node {
    fill-color: blue;
    size: 5px;
}

node.marked  {
    fill-color: red;
}
edge {
    fill-color: blue;
    arrow-size: 3px, 2px;

}
edge.marked {
    fill-color: red;
}